*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color:#f5f5f5;
  font-family: system-ui;
}
.banner-con{
  width: 100%;
  height: 60vh;
}
.banner{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content{
  width: 600px;
  display: flex;
  justify-content: space-between;

}
.content h1{
  
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
font-family: sans-serif;
}


.todo{
  width: 600px;
  max-height: 498px;
}
form{
  width: 100%;
  height: 83px;
}
form input{
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);

width:100%;
height:60px;
  padding: 15px 30px;
 
  margin-top: 3.5rem;
  background: hsl(0, 0%, 100%);
  font-size: 24px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  outline: none;
  border: none;
  box-shadow: 0px 1px #dbdada9a;
}
input::placeholder{
  color: rgba(158, 157, 157, 0.842);
  letter-spacing: 2px;
  font-style: italic;
  font-size: 24px;
}
.list{
  width: 100%;
  /* max-height: 330px; */
  margin-top: 2rem
}
.todo-con{
  width: 100%;
  background-color: hsl(0, 2%, 80%);
  box-shadow: 0px 1px #dbdada9a;
 
}
.todo-li{
  display: flex;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 0.9rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-style: italic;
  font-size: 24px;
  align-items: center;
}
.todo-li p{
  width: 92%;
  color: rgb(70, 70, 70);
}
.todo-li .check{
  width: 20px;
  height: 20px;
  border: 1px solid hsl(0, 0%, 99%);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-right: 1rem;
  cursor: pointer;
}
.todo-li .check img{
  transform: scale(0);
  transition: all 0.3s ease;
}
.todo-li .close{
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  transition: all 0.4s ease;
  cursor: pointer;
}
.todo-li:hover .close{
  opacity: 1;
}
.hr{
  width: 100%;
  background: hsl(233, 14%, 35%);
  height: 0.9px;
}
.info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
  padding: 1rem 0.9rem;
  background: hsl(0, 0%, 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.choice{
  display: flex;
}
.choice p{
  padding:  0 5px;
}
.info p:hover{
color: hsl(220, 98%, 61%);
}
.active{
  color: hsl(220, 98%, 61%);
}
.active-check{
background-color: rgb(158, 158, 158);

}

.active-check img{
  transform: scale(1) !important;
}
.complete{
  text-decoration: line-through;
  opacity: 0.5;
}
.close{
  color:rgb(199, 10, 10);
  font-size: large;
  font-size: 20px;
font-weight:600;
}