* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color:#0c31ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
  }
  header {
    font-size:3em ;
    font-weight:100;
    color: rgb(243, 243, 243);
   font-family: sans-serif;
  }

  
  header,
  form {
    min-height: 2.2vh;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .todo-input{
    width:500px;
    margin: 0;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  form input,
  form button {
    padding: 16px 16px 16px 60px;
    font-size: 2rem;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.267);
  }
  ::placeholder{
      font-family: inherit;
      font-style: italic;
      font-size: 24px;
      color: rgb(228, 228, 228);

  }
  form button {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #ff6f47;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    width:575px;
        white-space: pre-line;
        word-break: break-all;

        padding: 15px 60px 15px 15px;
        margin-left: 45px;
        display: block;
        line-height: 1.2;
        transition: color 0.4s;
    margin-top:-16px;
    
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    padding:0;
    margin: 0;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
   list-style-type:none; ;
    font-size: 27px;
    border-bottom: 1px solid #ededed;
    text-decoration: none;
    
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    
}
  
  .trash-btn,
  .complete-btn {
    
    color:white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
.complete-btn{
background: transparent;
}
.trash-btn{
    background:transparent;
    color:rgba(255, 0, 0, 0.829);
    
    font-weight: 800;
    
}

  
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-xmark,
  .fa-check {
    pointer-events: none;
   
  }
  
   .fall {
    
    opacity: 0;
  } 
  
  .completed {
    text-decoration: line-through;
    opacity: 0.9;
    background-color: rgb(179, 178, 178);
    
  }
  
 
 .filter-todo{
   width:500px;
   height:55px;
   background-color: aliceblue;
   margin: 0;
   padding-top:-200px ;
   margin-top: -15px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .all,.over,.uncompleted{
   margin:20px;
   border: none;
   background-color:aliceblue;
   cursor: pointer;
   
   font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
  .info{
  display:block;
      margin: 65px auto 0;
      color: #eeeeee;
      font-size: 10px;
     font-style: italic;
     font-family: sans-serif;
      text-align: center;
      font-weight: 400;
      line-height: 20px;
  }
  a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight:600 ;
  }